@import url('https://fonts.googleapis.com/css?family=Lato|Supermercado+One');

/* Use the 'Lato' font family at 18px throughout the body of the document, and cover the background with the './img/map-bg.jpg' image. */
nav {font-family: sans-serif; font-size: 10px;}

#main {font-family: 'Lato'; font-style: normal; font-weight: 400; font-size: 18px;
background-image: url('../src/img/map-bg.jpg'); background-size: cover; padding: 40px;}

/* Use the 'Supermercado One' font at 45px (colored #5d4037) for the restaurant name. */
h1 {font-family: 'Supermercado One'; font-style: normal; font-weight: 400; font-size: 45px; width: 900px; margin: 45px; color: #5d4037}

/* Set the separator between the columns (the "column-rule") to be 2px dashed rosybrown. */
#menu {columns: 400px 2; column-gap: 100px; column-rule: 2px dashed rosybrown; margin: 50px 50px 50px 50px;}

/* Show each of the section headings of the menu (e.g. "Starters") in small caps, colored #6d4c41. */
h2 {margin: 0; font-variant: small-caps; color: #6d4c41;}

/* Make the name of each menu item appear in bold in a 20px size. */
dt {font-size: 20px; font-weight: bold;}

dd {margin: 0 0 12px 0; display: flex;}

.details {order: 1;}

/* Show the price of each item in a large font, in the color named 'firebrick' */
.price {order: 2; font-size: large; color: firebrick; padding: 0 0 0 150px; float: right;}

/* Draw a 2px dashed rosybrown border around the address/footer */
address {margin-left: 50px; margin-right: 50px; padding: 10px; border: 4px dashed rosybrown;}